@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&displzy=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');



*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

:root{
    --dark_cian: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very_dark_blue: hsl(212, 21%, 14%);
    --dark_grayish_blue: hsl(228, 12%, 48%);
    --montserrat :"Montserrat", sans-serif;
    --fraunces: "Fraunces", serif;


}

body{
    background-color: var(--cream);
    min-height: 100vh;
    
}

.container{

    min-height: 100vh;
    margin: 10px 16px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.container__card{

    display: flex;
    flex-direction: column;

    background-color: white;
    max-width: 25rem; /* o que eliminou a barra de rolagem horizontal foi ter um card menor que a viewport */
    /* tem q ter esse entendimento: aqui o codigo é para mobile, a viewport é de ate 600px, entao o card esta tendo uma viewport de ate 400px*/
    border-radius: 15px;
    /* antes eu tinha setado uma tag height com 90vh, mas era um dos problemas. a altura esta sendo configurada sempre no body, e no container */
    overflow: hidden; /* elimina a necessidade de usar border-radius*/


}

img{

    block-size: auto;
    object-fit: cover;
    max-inline-size: 100%;
    height: auto;
    

}


.card__element{

    padding: 30px;

}

.element__paragraph {

    color: var(--dark_grayish_blue);
    font-family: var(--montserrat);
    font-size: clamp(0.875rem, 0.875rem + 1.5vw, 1rem);
    line-height: 1.4rem;

    
}

.element__paragraph--spacebt {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.element__title {

    font-family: var(--fraunces);
    padding: 15px 1px;
    font-size: clamp(2.0rem, 2.0rem + 1.5vw, 2.0rem);
    line-height: 2.1rem;
    
}

.element__price{

    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.element__title--green{
    font-weight: 700;
    color: #3D8168;
    font-family: var(--fraunces);
}

.element__paragraph--crossed{

    text-decoration: line-through;

}

.element__buttom{

    display: flex;
    justify-content: center;
    gap: 15px;

    background-color: #3D8168;
    color: white;
    min-width: 100%;
    padding: 20px;
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: clamp(1rem, 0.75rem + 1.5vw, 1rem);
    border-radius: 8px;

}



@media screen and (min-width: 768px) {


    .container__card{

        flex-direction: row;
        max-width: 37.5rem;
    }

    img{

        height: 100%;
    }
 


}





